name: 编译OpenWrt

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 480  # 增加超时时间为8小时

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.ccache
          ~/.cache
        key: ${{ runner.os }}-build-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-

    - name: Update and upgrade
      run: |
        sudo apt update -y
        sudo apt full-upgrade -y

    - name: Install essential packages
      run: |
        sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential

    - name: Install additional packages
      run: |
        sudo apt install -y bzip2 ccache clang cmake cpio curl device-tree-compiler ecj fastjar flex gawk gettext gcc-multilib g++-multilib git gnutls-dev gperf haveged help2man intltool lib32gcc-s1 libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5 libncursesw5-dev libpython3-dev libreadline-dev libssl-dev libtool lld llvm lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 python3 python3-pip python3-ply python3-docutils python3-pyelftools qemu-utils re2c rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev zstd

    - name: Clone source code
      run: git clone --depth 1 $REPO_URL openwrt

    - name: Move project
      run: mv openwrt/* .

    - name: Load custom feeds
      run: mv feeds.conf.default.bak feeds.conf.default

    - name: Update and install feeds
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    #- name: Modify default IP      #修改默认IP(默认注释,要修改IP把这2行#去掉即可)
    #  run: sed -i 's/192.168.1.1/192.168.7.41/g' package/base-files/files/bin/config_generate

    #- name: Load custom configuration
    #  run: mv .config.bak .config

    - name: Use tmate connect ssh
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: false  #如果github设置了SSH keys则这里可以输入true使用密钥登录
      if: (github.event.inputs.ssh == 'true' && github.event.inputs.ssh != 'false') || contains(github.event.action, 'ssh')

    - name: Check system resources before compile
      run: |
        free -h
        df -h
        top -b -n1

    - name: Configure ccache
      run: |
        export CCACHE_DIR=$HOME/.ccache
        ccache -M 10G  # 设置最大缓存大小为10GB

    - name: Compile dependencies
      run: |
        make -j$(( $(nproc) - 1 )) V=s download
        make -j$(( $(nproc) - 1 )) V=s toolchain/install

    - name: Compile firmware
      run: |
        echo -e "$(nproc) thread compile"
        export CC="ccache gcc"
        export CXX="ccache g++"
        for i in {1..5}; do make -j$(( $(nproc) - 1 )) V=s && break || sleep 15; done

    - name: Check system resources after compile
      run: |
        free -h
        df -h
        top -b -n1

    - name: Prepare artifact
      run: |
        mkdir -p ./artifact/package
        mkdir -p ./artifact/buildinfo
        find ./bin/targets/ -type d -name "packages" -exec rm -rf {} +
        find ./bin/packages/ -type f -name "*.ipk" -exec cp -f {} ./artifact/package/ \;
        find ./bin/targets/ -type f \( -name "*.buildinfo" -o -name "*.manifest" \) -exec cp -f {} ./artifact/buildinfo/ \;

    - name: Upload buildinfo
      uses: actions/upload-artifact@v3
      with:
        name: OpenWrt_buildinfo
        path: ./artifact/buildinfo/

    - name: Upload package
      uses: actions/upload-artifact@v3
      with:
        name: OpenWrt_package
        path: ./artifact/package/

    - name: Upload firmware
      uses: actions/upload-artifact@v3
      with:
        name: OpenWrt_firmware
        path: ./bin/targets/
